@{
    ViewBag.Title = "Acerca de";
}

<div class="jumbotron mt-2 jumbotron-la-hacienda mb-2">
    <a href="@Url.Action("Index", "Home")" class="logo mr-auto">
        <img src="~/Content/images/logo.png" class="img-fluid" />
    </a>
    <h1>La Hacienda</h1>
    <p class="lead">
        La vida es corta para vivirlo en pequeño
    </p>
    <p>
        <a href="@Url.Action("Index", "Login")" class="btn btn-primary btn-lg">
            <i class="fas fa-check-square"></i>
            Cotiza con nosotros
        </a>
    </p>
</div>

<div class="la-hacienda-page">
    <h2 class="mt-0 mb-2">
        Acerca de
    </h2>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at dignissim mauris, a molestie purus. Morbi auctor convallis elit,
                eget egestas odio aliquet id. Nulla mattis non est tincidunt eleifend. Curabitur maximus bibendum molestie. Pellentesque imperdiet ipsum
                eget magna laoreet, sit amet dictum metus mattis. Fusce sagittis porta tellus, non auctor lectus tempus nec. Integer sollicitudin ut purus
                sit amet blandit. Suspendisse a efficitur lacus. Quisque consectetur gravida eros, eu scelerisque ligula cursus vitae. Nullam rutrum sem id
                commodo dapibus. Fusce sollicitudin odio varius lacus varius tempus.
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at dignissim mauris, a molestie purus. Morbi auctor convallis elit,
                eget egestas odio aliquet id. Nulla mattis non est tincidunt eleifend. Curabitur maximus bibendum molestie. Pellentesque imperdiet ipsum
                eget magna laoreet, sit amet dictum metus mattis. Fusce sagittis porta tellus, non auctor lectus tempus nec. Integer sollicitudin ut purus
                sit amet blandit. Suspendisse a efficitur lacus. Quisque consectetur gravida eros, eu scelerisque ligula cursus vitae. Nullam rutrum sem id
                commodo dapibus. Fusce sollicitudin odio varius lacus varius tempus.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at dignissim mauris, a molestie purus. Morbi auctor convallis elit,
                eget egestas odio aliquet id. Nulla mattis non est tincidunt eleifend. Curabitur maximus bibendum molestie. Pellentesque imperdiet ipsum
                eget magna laoreet, sit amet dictum metus mattis. Fusce sagittis porta tellus, non auctor lectus tempus nec. Integer sollicitudin ut purus
                sit amet blandit. Suspendisse a efficitur lacus. Quisque consectetur gravida eros, eu scelerisque ligula cursus vitae. Nullam rutrum sem id
                commodo dapibus. Fusce sollicitudin odio varius lacus varius tempus.
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at dignissim mauris, a molestie purus. Morbi auctor convallis elit,
                eget egestas odio aliquet id. Nulla mattis non est tincidunt eleifend. Curabitur maximus bibendum molestie. Pellentesque imperdiet ipsum
                eget magna laoreet, sit amet dictum metus mattis. Fusce sagittis porta tellus, non auctor lectus tempus nec. Integer sollicitudin ut purus
                sit amet blandit. Suspendisse a efficitur lacus. Quisque consectetur gravida eros, eu scelerisque ligula cursus vitae. Nullam rutrum sem id
                commodo dapibus. Fusce sollicitudin odio varius lacus varius tempus.
            </p>
        </div>
    </div>
</div>