
@*<footer class="footer">
    <div class="app-content">
        <div class="row ">
            <p class="text-center mb-1">
                © @DateTime.Now.Year <a href="http://www.zoomtech.com.sv">Especialistas TI Asociados S.A de C.V bajo su marca ZoomTech </a> Todos los Derechos Reservados
            </p>

        </div>
    </div>
</footer>*@


<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Todos los derechos reservados a Especialistas TI Asociados, bajo la marca ZoomTech - Copyright &copy;  @DateTime.Now.Year <a href="http://www.zoomtech.com.sv"> www.zoomtech.com.sv  </a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
