/**
    Archivo: Site.css
    Description: archivo que brinda el look and feel al sitio
    Fecha: 30/Ago/2021
    Autor: Luis Enrique Garcia O.
    email: legoearl@gmail.com
**/

/**
----------------------------------------------------------------------------------
------------------------     VARIABLES CSS THEME      ----------------------------
----------------------------------------------------------------------------------
**/
:root {
    --background-color: #eaeaea;
    --background-admin-color: #e7e7e7;

    --main-color: #6e7c3e;
    --main-hover-color: #2e3419;
    --main-border-color: #2e3419;
    --main-text-color: #fff;
    --secondary-color: #2e3419;
    --secondary-hover-color: #6e7c3e;
    --secondary-border-color: #6e7c3e;
    --secondary-text-color: #fff;
    
    --navbar-color: #6e7c3e;
    --navbar-text-color: #fff;
    --navbar-admin-color: #fff;
    --navbar-admin-text-color: #42520b;
    
    --footer-color: #2e3419;
    --footer-text-color: #fff;
    --footer-admin-color: #fff;
    --footer-admin-text-color: #333;
}

/**
----------------------------------------------------------------------------------
------------------------   HTML ELEMENTS BY APP WEB   ----------------------------
----------------------------------------------------------------------------------
**/
html {
    overflow-x: hidden;
}

body {
    background: var(--background-color);
    /*  background: #eaeaea;*/
    font-size: 14px;
    width: 100%;
}

html, body {
    height: 100%;
}

/**
----------------------------------------------------------------------------------
-----------------------   CLASS ELEMENTS BY APP WEB   ----------------------------
----------------------------------------------------------------------------------
**/
.admin-app {
    height: 100%;
    position: relative;
    width: 100%;

    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.admin-menu {
    background-image: url(images/cover-back5.jpg), var(--main-color);
    background-image: url(images/cover-back5.jpg), -moz-linear-gradient(top, var(--main-color) 0%, var(--secondary-color) 100%);
    background-image: url(images/cover-back5.jpg), -webkit-linear-gradient(top, var(--main-color) 0%,var(--secondary-color) 100%);
    background-image: url(images/cover-back5.jpg), linear-gradient(to bottom, var(--main-color) 0%,var(--secondary-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-color)', endColorstr='var(--secondary-color)',GradientType=0 );
    /*
    background: url(../Content/images/cover-back4.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    */
    background-blend-mode: color-burn;
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    box-shadow: -3px 0 8px #444 inset;
    /*box-shadow: -3px 0 8px #505832 inset;*/
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 15%;
}
.admin-content {
    /*background: #e7e7e7;*/
    background: var(--background-admin-color);
    height: 100%;
    right: 0;
    padding: 0;
    position: absolute;
    overflow-y: auto;
    top: 0;
    width: 85%;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.collapse-menu.admin-app > .admin-menu {
    width: 5%;
}
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item {
        text-align: center;
    }
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .fas,
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .far {
        font-size: 2em;
    }
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .text {
        display: none;
    }
    .collapse-menu.admin-app > .admin-menu > .logo-extend {
        display: none;
    }
    .collapse-menu.admin-app > .admin-menu > .logo-collapse {
        display: block;
    }
.collapse-menu.admin-app > .admin-content {
    width: 95%;
}
.admin-content-body {
    padding: .5rem;
}
.app-content {
    margin: 0 auto;
    max-width: 1200px;
}
.back-banner {
    background: #fff;
    height: 350px;
    position: absolute;
    top: 0;
    width: 100%;
}
.back-login {
    background-image: url(images/cover-back5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
    width: 100%;
    -moz-transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
.fa-15x {
    font-size: 1.5em;
}
.footer {
    background: var(--footer-color);
    color: var(--footer-text-color);
    padding: .5rem;
    width: 100%;
}
.footer a,
.footer a:hover,
.footer a:focus {
    color: var(--footer-text-color);
    text-decoration: none;
}
.footer ul {
    padding-left: 1.5rem;
}
.footer-admin {
    background: var(--footer-admin-color);
    padding-bottom: .5rem;
    padding-top: .5rem;
}
    .footer-admin p {
        color: var(--footer-admin-text-color);
    }
.header-a {
    position: relative;
    width: 100%;
}
    .header-a .header-a-bar {
        background: #fff;
        border-bottom: 3px solid #054471;
        position: relative;
        z-index: 10;
        width: 100%;
    }
.admin-menu > div > .btn-collapse-menu,
.admin-menu > div > .btn-extend-menu {
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50% 50%;
    box-shadow: -3px 0 8px #505832;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    height: 36px;
    padding: 0;
    width: 36px;
}
.admin-menu > div > .btn-collapse-menu:hover,
.admin-menu > div > .btn-extend-menu:hover {
    background: rgba(255, 255, 255, 0.95);
    color: var(--main-color);
}
.list-group-admin-menu {
    background: none;
}
.list-group-admin-menu > .list-group-item.list-group-item-action {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    padding: .5rem;
}
    .list-group-admin-menu > .list-group-item.list-group-item-action.active,
    .list-group-admin-menu > .list-group-item.list-group-item-action:hover,
    .list-group-admin-menu > .list-group-item.list-group-item-action:focus {
        background: var(--secondary-color);
        border: none;
        color: var(--secondary-text-color);
    }
.login {
    margin: 5rem auto;
    max-width: 380px;
    width: 100%;
}
    .login .card {
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 3px solid var(--main-color);
        box-shadow: 0 5px 15px var(--main-color);
    }
    .login:hover .card,
    .login:focus .card {
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 3px solid var(--main-color);
        box-shadow: 0 5px 15px var(--main-color);
    }
.logo {
    display: block;
    margin: .5rem auto;
    max-width: 173px;
}
.footer .logo {
    max-width: 125px;
}

.logo-collapse {
    display: none;
    max-width: 45px;
}
.logo-extend {
    display: block;
}

.logo-example-empresa {
    align-items: center;
    background: #122b40;
    border-radius: 6px;
    color: #fff;
    display: flex;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 auto;
    max-width: 230px;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.modal-header {
    background: var(--main-color);
    background: -moz-linear-gradient(top, var(--main-color) 0%, var(--secondary-color) 100%);
    background: -webkit-linear-gradient(top, var(--main-color) 0%,var(--secondary-color) 100%);
    background: linear-gradient(to bottom, var(--main-color) 0%,var(--secondary-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-color)', endColorstr='var(--secondary-color)',GradientType=0 );
    color: var(--main-text-color);
}

.mt-button {
    margin-top: 28px;
}

.nav-tabs-register > .nav-item > .nav-link {
    color: #122b40;
    font-size: 1.2em;
    padding-left: 50px;
    position: relative;
}

    .nav-tabs-register > .nav-item > .nav-link.active {
        background: var(--main-color);
        background: -moz-linear-gradient(top, var(--main-color) 0%, var(--secondary-color) 100%);
        background: -webkit-linear-gradient(top, var(--main-color) 0%,var(--secondary-color) 100%);
        background: linear-gradient(to bottom, var(--main-color) 0%,var(--secondary-color) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-color)', endColorstr='var(--secondary-color)',GradientType=0 );
        color: #fff;
        font-weight: 600;
    }

    .nav-tabs-register > .nav-item > .nav-link > .fas,
    .nav-tabs-register > .nav-item > .nav-link > .far {
        font-size: 2em;
        left: 8px;
        position: absolute;
        top: 15px;
    }
.photo-perfil {
    margin: .2rem auto;
    max-width: 110px;
    position: relative;
}
.photo-perfil > .btn {
    bottom: -5px;
    left: 35%;
    position: absolute;
}
.table.table-striped.table-hover > thead > tr:first-child > th {
    background: var(--main-color);
    background: -moz-linear-gradient(top, var(--main-color) 0%, var(--secondary-color) 100%);
    background: -webkit-linear-gradient(top, var(--main-color) 0%,var(--secondary-color) 100%);
    background: linear-gradient(to bottom, var(--main-color) 0%,var(--secondary-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-color)', endColorstr='var(--secondary-color)',GradientType=0 );
    color: var(--main-text-color);
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
}
.table.table-striped.table-hover > tbody > tr:nth-child(2n + 1) {
    background: #fafafa;
}
.table.table-striped.table-hover > tbody > tr:hover {
    background: rgba(87, 155, 203, 0.3);
}
.table.table-striped.table-hover > tbody > tr > td {
    padding: .5rem;
    vertical-align: middle;
}
.navbar.navbar-expand-lg.navbar-light {
    background: var(--navbar-color);
}
    .navbar.navbar-expand-lg.navbar-light > .navbar-brand {
        color: var(--navbar-text-color);
    }
.navbar-nav .nav-item > .nav-link,
.navbar-nav .nav-item.active > .nav-link,
.navbar-nav .nav-item.active > .nav-link:hover,
.navbar-nav .nav-item.active > .nav-link:focus,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--navbar-text-color);
}
.navbar-admin.navbar.navbar-expand-lg.navbar-light {
    background: var(--navbar-admin-color);
}
.navbar-admin .navbar-nav .nav-item > .nav-link,
.navbar-admin .navbar-nav .nav-item.active > .nav-link,
.navbar-admin .navbar-nav .nav-item.active > .nav-link:hover,
.navbar-admin .navbar-nav .nav-item.active > .nav-link:focus,
.navbar-admin.navbar-light .navbar-nav .show > .nav-link,
.navbar-admin.navbar-light .navbar-nav .active > .nav-link,
.navbar-admin.navbar-light .navbar-nav .nav-link.show,
.navbar-admin.navbar-light .navbar-nav .nav-link.active,
.navbar-admin.navbar-light .navbar-nav .nav-link:hover,
.navbar-admin.navbar-light .navbar-nav .nav-link:focus {
    color: var(--navbar-admin-text-color);
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
    background: var(--secondary-color);
    color: #fff;
}
.dropdown-toggle::after {
    display: none;
}
.jumbotron-la-hacienda {
    background: url(images/back.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 480px;
}
    .jumbotron-la-hacienda h1,
    .jumbotron-la-hacienda p {
        color: #fff;
    }
.la-hacienda-page {
    background: #fff;
    border-radius: 6px 6px;
    margin: .5rem 0;
    padding: .5rem;
}
/**
----------------------------------------------------------------------------------
------------------------     ELEMENTS BY BOOTSTRAP    ----------------------------
----------------------------------------------------------------------------------
**/
.btn-primary {
    background: var(--main-color);
    color: var(--main-text-color);
    border-color: var(--main-border-color);
}

    .btn-primary:focus,
    .btn-primary.focus {
        color: var(--main-text-color);
        background: var(--main-border-color);
        border-color: var(--main-color);
    }

    .btn-primary:hover,
    .btn-outline-primary:hover {
        background: var(--main-border-color);
        border-color: var(--main-color);
        color: var(--main-text-color);
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background: var(--main-color);
        color: var(--main-text-color);
        border-color: var(--main-border-color);
    }

        .btn-primary:active:hover,
        .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus {
            background: var(--main-color);
            color: var(--main-text-color);
            border-color: var(--main-border-color);
        }

    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus,
    .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary.focus {
        background: var(--main-color);
        color: var(--main-text-color);
        border-color: var(--main-border-color);
    }

    .btn-primary .badge {
        color: var(--main-color);
        background-color: var(--main-text-color);
    }

.btn-secondary {
    background: #ffbb63;
    background: -moz-linear-gradient(45deg, #ffbb63 0%, #ff9204 100%);
    background: -webkit-linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
    background: linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb63', endColorstr='#ff9204',GradientType=1 );
    color: #122b40;
    border-color: #b06300;
}

    .btn-secondary:focus,
    .btn-secondary.focus {
        color: #122b40;
        background: #ff9204;
        background: -moz-linear-gradient(45deg,#ff9204 0%, #ffbb63 100%);
        background: -webkit-linear-gradient(45deg, #ff9204 0%,#ffbb63 100%);
        background: linear-gradient(45deg, #ff9204 0%,#ffbb63 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9204', endColorstr='#ffbb63',GradientType=1 );
        border-color: #b06300;
    }

    .btn-secondary:hover,
    .btn-outline-secondary:hover {
        background: #ff9204;
        background: -moz-linear-gradient(45deg,#ff9204 0%, #ffbb63 100%);
        background: -webkit-linear-gradient(45deg, #ff9204 0%,#ffbb63 100%);
        background: linear-gradient(45deg, #ff9204 0%,#ffbb63 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9204', endColorstr='#ffbb63',GradientType=1 );
        border-color: #b06300;
        color: #122b40;
    }

    .btn-secondary:active,
    .btn-secondary.active,
    .open > .dropdown-toggle.btn-secondary {
        color: #122b40;
        background: #ffbb63;
        background: -moz-linear-gradient(45deg, #ffbb63 0%, #ff9204 100%);
        background: -webkit-linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
        background: linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb63', endColorstr='#ff9204',GradientType=1 );
        background-image: none;
        border-color: #b06300;
    }

        .btn-secondary:active:hover,
        .btn-secondary.active:hover,
        .open > .dropdown-toggle.btn-secondary:hover,
        .btn-secondary:active:focus,
        .btn-secondary.active:focus,
        .open > .dropdown-toggle.btn-secondary:focus,
        .btn-secondary:active.focus,
        .btn-secondary.active.focus,
        .open > .dropdown-toggle.btn-secondary.focus {
            color: #122b40;
            background: #ffbb63;
            background: -moz-linear-gradient(45deg, #ffbb63 0%, #ff9204 100%);
            background: -webkit-linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
            background: linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb63', endColorstr='#ff9204',GradientType=1 );
            border-color: #b06300;
        }

    .btn-secondary.disabled:hover,
    .btn-secondary[disabled]:hover,
    fieldset[disabled] .btn-secondary:hover,
    .btn-secondary.disabled:focus,
    .btn-secondary[disabled]:focus,
    fieldset[disabled] .btn-secondary:focus,
    .btn-secondary.disabled.focus,
    .btn-secondary[disabled].focus,
    fieldset[disabled] .btn-secondary.focus {
        background-color: #ffbb63;
        border-color: #b06300;
    }

    .btn-secondary .badge {
        color: #ffbb63;
        background-color: #122b40;
    }

/**
-------------------------------------------------------------------------------------
-----------------        Elementos del dashboard           --------------------------
-------------------------------------------------------------------------------------
**/
.card-dashboard {
    background: #f6f8f9;
    background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -webkit-linear-gradient(-45deg, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    background: linear-gradient(135deg, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
    border: 1px solid #004966;
    border-radius: 6px;
    box-shadow: 0 3px 2px #004966;
    display: block;
    margin-bottom: 1rem;
    min-height: 90px;
    position: relative;
    width: 100%;
}

    .card-dashboard:hover {
        background: #ffbb63;
        background: -moz-linear-gradient(45deg, #ffbb63 0%, #ff9204 100%);
        background: -webkit-linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
        background: linear-gradient(45deg, #ffbb63 0%,#ff9204 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb63', endColorstr='#ff9204',GradientType=1 );
    }

.card-dashboard-icon {
    color: #004966;
    left: 4%;
    position: absolute;
    top: 20%;
}

.card-dashboard-num {
    color: #004966;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.1;
    position: absolute;
    right: 5%;
    text-align: right;
    top: 0%;
    width: 70%;
}

.card-dashboard-text {
    bottom: 10%;
    color: #004966;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    right: 5%;
    text-align: right;
    width: 65%;
}

.card-dashboard:hover > .card-dashboard-icon,
.card-dashboard:hover > .card-dashboard-num,
.card-dashboard:hover > .card-dashboard-text {
    color: #00222f;
}

/**
----------------------------------------------------------------------------------
----------------------         MEDIA QUERYS WEBAPP        ------------------------
----------------------------------------------------------------------------------
**/
@media screen and (min-width:1401px) and (max-width: 1600px) {
    .admin-menu {
        width: 15%;
    }
    .admin-content {
        width: 85%;
    }
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .fas,
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .far {
        font-size: 1.5em;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .admin-menu {
        width: 20%;
    }
    .admin-content {
        width: 80%;
    }
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .fas,
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .far {
        font-size: 1.2em;
    }
}

@media screen and (min-width:1025px) and (max-width:1199px) {
    .admin-menu {
        width: 20%;
    }
    .admin-content {
        width: 80%;
    }
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .fas,
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .far {
        font-size: 1.3em;
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    .admin-menu {
        width: 25%;
    }
    .admin-content {
        width: 75%;
    }
    .app-content {
        width: 95%;
    }
    .search-job {
        max-width: 300px;
    }
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .fas,
    .collapse-menu.admin-app > .admin-menu > .mt-2.p-2 > .list-group-admin-menu > .list-group-item > .far {
        font-size: 1.1em;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .admin-menu {
        width: 40%;
    }
    .admin-content {
        width: 100%;
        z-index: 10;
    }
    .admin-app.open .admin-content {
        left: 40%;
    }
    .app-content {
        width: 95%;
    }
    .search-job {
        max-width: none;
        position: relative;
    }
    .admin-menu > div > .btn-collapse-menu,
    .admin-menu > div > .btn-extend-menu {
        display: none;
    }
}

@media screen and (min-width:321px) and (max-width:767px) {
    body.admin {
        overflow-y: hidden;
    }
    .admin-menu {
        width: 70%;
    }
    .admin-content {
        width: 100%;
        z-index: 10;
    }
    .admin-app.open .admin-content {
        left: 70%;
    }
    .app-content {
        width: 95%;
    }
    .logo-example-empresa {
        max-width: none;
    }
    .search-job {
        max-width: none;
        position: relative;
    }
    .admin-menu > div > .btn-collapse-menu,
    .admin-menu > div > .btn-extend-menu {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .admin-menu {
        width: 60%;
    }
    .admin-content {
        width: 100%;
        z-index: 10;
    }
    .admin-app.open .admin-content {
        left: 60%;
    }
    .app-content {
        width: 95%;
    }
    .logo-example-empresa {
        max-width: none;
    }
    .search-job {
        max-width: none;
        position: relative;
    }
    .admin-menu > div > .btn-collapse-menu,
    .admin-menu > div > .btn-extend-menu {
        display: none;
    }

}

/*MRAMOS*/



#wrapper {
    display: flex;
}

    #wrapper #content-wrapper {
        background-color: #f8f9fc;
        width: 100%;
        overflow-x: hidden
    }

        #wrapper #content-wrapper #content {
            flex: 1 0 auto
        }

.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 46px
}

    .scroll-to-top:focus, .scroll-to-top:hover {
        color: #fff
    }

    .scroll-to-top:hover {
        background: #5a5c69
    }

    .scroll-to-top i {
        font-weight: 800
    }

@-webkit-keyframes growIn {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes growIn {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.animated--grow-in, .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
    animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1)
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.animated--fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: opacity cubic-bezier(0,1,.4,1);
    animation-timing-function: opacity cubic-bezier(0,1,.4,1)
}

.bg-gradient-primary {
    background-color: #252440;
    background-image: linear-gradient(180deg,#242a11 10%,#6e7c3e 100%);
    /*background-image: linear-gradient(180deg,#252440 10%,#224abe 100%);*/
    background-size: cover;
}

.bg-gradient-secondary {
    background-color: #858796;
    background-image: linear-gradient(180deg,#858796 10%,#60616f 100%);
    background-size: cover
}

.bg-gradient-success {
    background-color: #1cc88a;
    background-image: linear-gradient(180deg,#1cc88a 10%,#13855c 100%);
    background-size: cover
}

.bg-gradient-info {
    background-color: #36b9cc;
    background-image: linear-gradient(180deg,#36b9cc 10%,#258391 100%);
    background-size: cover
}

.bg-gradient-warning {
    background-color: #f6c23e;
    background-image: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%);
    background-size: cover
}

.bg-gradient-danger {
    background-color: #e74a3b;
    background-image: linear-gradient(180deg,#e74a3b 10%,#be2617 100%);
    background-size: cover
}

.bg-gradient-light {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg,#f8f9fc 10%,#c2cbe5 100%);
    background-size: cover
}

.bg-gradient-dark {
    background-color: #5a5c69;
    background-image: linear-gradient(180deg,#5a5c69 10%,#373840 100%);
    background-size: cover
}

.bg-gray-100 {
    background-color: #f8f9fc !important
}

.bg-gray-200 {
    background-color: #eaecf4 !important
}

.bg-gray-300 {
    background-color: #dddfeb !important
}

.bg-gray-400 {
    background-color: #d1d3e2 !important
}

.bg-gray-500 {
    background-color: #b7b9cc !important
}

.bg-gray-600 {
    background-color: #858796 !important
}

.bg-gray-700 {
    background-color: #6e707e !important
}

.bg-gray-800 {
    background-color: #5a5c69 !important
}

.bg-gray-900 {
    background-color: #3a3b45 !important
}


footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0
}

    footer.sticky-footer .copyright {
        line-height: 1;
        font-size: .8rem
    }



.topbar {
    height: 4.375rem;
}

    .topbar #sidebarToggleTop {
        height: 2.5rem;
        width: 2.5rem;
    }

        .topbar #sidebarToggleTop:hover {
            background-color: #eaecf4;
        }

        .topbar #sidebarToggleTop:active {
            background-color: #dddfeb;
        }

    .topbar .navbar-search {
        width: 25rem;
    }

        .topbar .navbar-search input {
            font-size: 0.85rem;
            height: auto;
        }

    .topbar .topbar-divider {
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem;
    }

    .topbar .nav-item .nav-link {
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
    }

        .topbar .nav-item .nav-link:focus {
            outline: none;
        }

    .topbar .nav-item:focus {
        outline: none;
    }

    .topbar .dropdown {
        position: static;
    }

        .topbar .dropdown .dropdown-menu {
            width: calc(100% - 1.5rem);
            right: 0.75rem;
        }

    .topbar .dropdown-list {
        padding: 0;
        border: none;
        overflow: hidden;
    }

        .topbar .dropdown-list .dropdown-header {
            background-color: #4e73df;
            border: 1px solid #4e73df;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            color: #fff;
        }

        .topbar .dropdown-list .dropdown-item {
            white-space: normal;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-left: 1px solid #e3e6f0;
            border-right: 1px solid #e3e6f0;
            border-bottom: 1px solid #e3e6f0;
            line-height: 1.3rem;
        }

            .topbar .dropdown-list .dropdown-item .dropdown-list-image {
                position: relative;
                height: 2.5rem;
                width: 2.5rem;
            }

                .topbar .dropdown-list .dropdown-item .dropdown-list-image img {
                    height: 2.5rem;
                    width: 2.5rem;
                }

                .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
                    background-color: #eaecf4;
                    height: 0.75rem;
                    width: 0.75rem;
                    border-radius: 100%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border: 0.125rem solid #fff;
                }

            .topbar .dropdown-list .dropdown-item .text-truncate {
                max-width: 10rem;
            }

            .topbar .dropdown-list .dropdown-item:active {
                background-color: #eaecf4;
                color: #3a3b45;
            }

@media (min-width: 576px) {
    .topbar .dropdown {
        position: relative;
    }

        .topbar .dropdown .dropdown-menu {
            width: auto;
            right: 0;
        }

    .topbar .dropdown-list {
        width: 20rem !important;
    }

        .topbar .dropdown-list .dropdown-item .text-truncate {
            max-width: 13.375rem;
        }
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}

    .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
        color: #b7b9cc;
    }

    .topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
        color: #858796;
    }


.sidebar .nav-item.dropdown .dropdown-toggle::after, .topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free'
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after, .topbar .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107'
}

.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
    position: relative
}

    .sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
        position: absolute;
        transform: scale(.7);
        transform-origin: top right;
        right: .25rem;
        margin-top: -.25rem
    }

    .sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
        height: 2rem;
        width: 2rem
    }

.topbar {
    height: 4.375rem
}

    .topbar #sidebarToggleTop {
        height: 2.5rem;
        width: 2.5rem
    }

        .topbar #sidebarToggleTop:hover {
            background-color: #eaecf4
        }

        .topbar #sidebarToggleTop:active {
            background-color: #dddfeb
        }

    .topbar .navbar-search {
        width: 25rem
    }

        .topbar .navbar-search input {
            font-size: .85rem;
            height: auto
        }

    .topbar .topbar-divider {
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem
    }

    .topbar .nav-item .nav-link {
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 0 .75rem
    }

        .topbar .nav-item .nav-link:focus {
            outline: 0
        }

    .topbar .nav-item:focus {
        outline: 0
    }

    .topbar .dropdown {
        position: static
    }

        .topbar .dropdown .dropdown-menu {
            width: calc(100% - 1.5rem);
            right: .75rem
        }

    .topbar .dropdown-list {
        padding: 0;
        border: none;
        overflow: hidden
    }

        .topbar .dropdown-list .dropdown-header {
            background-color: #4e73df;
            border: 1px solid #4e73df;
            padding-top: .75rem;
            padding-bottom: .75rem;
            color: #fff
        }

        .topbar .dropdown-list .dropdown-item {
            white-space: normal;
            padding-top: .5rem;
            padding-bottom: .5rem;
            border-left: 1px solid #e3e6f0;
            border-right: 1px solid #e3e6f0;
            border-bottom: 1px solid #e3e6f0;
            line-height: 1.3rem
        }

            .topbar .dropdown-list .dropdown-item .dropdown-list-image {
                position: relative;
                height: 2.5rem;
                width: 2.5rem
            }

                .topbar .dropdown-list .dropdown-item .dropdown-list-image img {
                    height: 2.5rem;
                    width: 2.5rem
                }

                .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
                    background-color: #eaecf4;
                    height: .75rem;
                    width: .75rem;
                    border-radius: 100%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border: .125rem solid #fff
                }

            .topbar .dropdown-list .dropdown-item .text-truncate {
                max-width: 10rem
            }

            .topbar .dropdown-list .dropdown-item:active {
                background-color: #eaecf4;
                color: #3a3b45
            }

@media (min-width:576px) {
    .topbar .dropdown {
        position: relative;
    }

        .topbar .dropdown .dropdown-menu {
            width: auto;
            right: 0
        }

    .topbar .dropdown-list {
        width: 20rem !important
    }

        .topbar .dropdown-list .dropdown-item .text-truncate {
            max-width: 13.375rem
        }
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2
}

    .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
        color: #b7b9cc
    }

    .topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
        color: #858796
    }

.sidebar {
    width: 6.5rem;
    min-height: 100vh
}

    .sidebar .nav-item {
        position: relative
    }

        .sidebar .nav-item:last-child {
            margin-bottom: 1rem
        }

        .sidebar .nav-item .nav-link {
            text-align: center;
            padding: .75rem 1rem;
            width: 6.5rem
        }

            .sidebar .nav-item .nav-link span {
                font-size: .65rem;
                display: block
            }

        .sidebar .nav-item.active .nav-link {
            font-weight: 700
        }

        .sidebar .nav-item .collapse {
            position: absolute;
            left: calc(6.5rem + 1.5rem / 2);
            z-index: 1;
            top: 2px
        }

            .sidebar .nav-item .collapse .collapse-inner {
                border-radius: .35rem;
                box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)
            }

        .sidebar .nav-item .collapsing {
            display: none;
            transition: none
        }

            .sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
                padding: .5rem 0;
                min-width: 10rem;
                font-size: .85rem;
                margin: 0 0 1rem 0
            }

                .sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
                    margin: 0;
                    white-space: nowrap;
                    padding: .5rem 1.5rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: .65rem;
                    color: #b7b9cc
                }

                .sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
                    padding: .5rem 1rem;
                    margin: 0 .5rem;
                    display: block;
                    color: #3a3b45;
                    text-decoration: none;
                    border-radius: .35rem;
                    white-space: nowrap
                }

                    .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
                        background-color: #eaecf4
                    }

                    .sidebar .nav-item .collapse .collapse-inner .collapse-item:active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
                        background-color: #dddfeb
                    }

                    .sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
                        color: #4e73df;
                        font-weight: 700
                    }

    .sidebar #sidebarToggle {
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        cursor: pointer
    }

        .sidebar #sidebarToggle::after {
            font-weight: 900;
            content: '\f104';
            font-family: 'Font Awesome 5 Free';
            margin-right: .1rem
        }

        .sidebar #sidebarToggle:hover {
            text-decoration: none
        }

        .sidebar #sidebarToggle:focus {
            outline: 0
        }

    .sidebar.toggled {
        width: 0 !important;
        overflow: hidden
    }

        .sidebar.toggled #sidebarToggle::after {
            content: '\f105';
            font-family: 'Font Awesome 5 Free';
            margin-left: .25rem
        }



    .sidebar .sidebar-brandMr {
        height: 4.375rem;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        padding: 1.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .05rem;
        z-index: 1
    }

        .sidebar .sidebar-brandMr .sidebar-brand-icon i {
            font-size: 2rem
        }

        .sidebar .sidebar-brandMr .sidebar-brand-text {
            display: none
        }



    .sidebar .sidebar-brand {
        height: 4.375rem;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        padding: 1.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .05rem;
        z-index: 1
    }

        .sidebar .sidebar-brand .sidebar-brand-icon i {
            font-size: 2rem
        }

        .sidebar .sidebar-brand .sidebar-brand-text {
            display: none
        }

    .sidebar hr.sidebar-divider {
        margin: 0 1rem 1rem
    }

    .sidebar .sidebar-heading {
        text-align: center;
        padding: 0 1rem;
        font-weight: 800;
        font-size: .65rem
    }

@media (min-width:768px) {
    .sidebar {
        width: 14rem !important
    }

        .sidebar .nav-item .collapse {
            position: relative;
            left: 0;
            z-index: 1;
            top: 0;
            -webkit-animation: none;
            animation: none
        }

            .sidebar .nav-item .collapse .collapse-inner {
                border-radius: 0;
                box-shadow: none
            }

        .sidebar .nav-item .collapsing {
            display: block;
            transition: height .15s ease
        }

        .sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
            margin: 0 1rem
        }

        .sidebar .nav-item .nav-link {
            display: block;
            width: 100%;
            text-align: left;
            padding: 1rem;
            width: 14rem
        }

            .sidebar .nav-item .nav-link i {
                font-size: .85rem;
                margin-right: .25rem
            }

            .sidebar .nav-item .nav-link span {
                font-size: .85rem;
                display: inline
            }

            .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
                width: 1rem;
                text-align: center;
                float: right;
                vertical-align: 0;
                border: 0;
                font-weight: 900;
                content: '\f107';
                font-family: 'Font Awesome 5 Free'
            }

            .sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
                content: '\f105'
            }

        .sidebar .sidebar-brand .sidebar-brand-icon i {
            font-size: 2rem
        }

        .sidebar .sidebar-brand .sidebar-brand-text {
            display: inline
        }

        .sidebar .sidebar-brandMr .sidebar-brand-icon i {
            font-size: 2rem
        }

        .sidebar .sidebar-brandMr .sidebar-brand-text {
            display: inline
        }

        .sidebar .sidebar-heading {
            text-align: left
        }

        .sidebar.toggled {
            overflow: visible;
            width: 6.5rem !important
        }

            .sidebar.toggled .nav-item .collapse {
                position: absolute;
                left: calc(6.5rem + 1.5rem / 2);
                z-index: 1;
                top: 2px;
                -webkit-animation-name: growIn;
                animation-name: growIn;
                -webkit-animation-duration: .2s;
                animation-duration: .2s;
                -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
                animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1)
            }

                .sidebar.toggled .nav-item .collapse .collapse-inner {
                    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
                    border-radius: .35rem
                }

            .sidebar.toggled .nav-item .collapsing {
                display: none;
                transition: none
            }

            .sidebar.toggled .nav-item .collapse, .sidebar.toggled .nav-item .collapsing {
                margin: 0
            }

            .sidebar.toggled .nav-item:last-child {
                margin-bottom: 1rem
            }

            .sidebar.toggled .nav-item .nav-link {
                text-align: center;
                padding: .75rem 1rem;
                width: 6.5rem
            }

                .sidebar.toggled .nav-item .nav-link span {
                    font-size: .65rem;
                    display: block
                }

                .sidebar.toggled .nav-item .nav-link i {
                    margin-right: 0
                }

                .sidebar.toggled .nav-item .nav-link[data-toggle=collapse]::after {
                    display: none
                }

            .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
                font-size: 2rem
            }

            .sidebar.toggled .sidebar-brand .sidebar-brand-text {
                display: none
            }

            .sidebar.toggled .sidebar-heading {
                text-align: center
            }
}

.sidebar-light .sidebar-brand {
    color: #6e707e
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4
}

.sidebar-light .sidebar-heading {
    color: #b7b9cc
}

.sidebar-light .nav-item .nav-link {
    color: #858796
}

    .sidebar-light .nav-item .nav-link i {
        color: #d1d3e2
    }

    .sidebar-light .nav-item .nav-link:active, .sidebar-light .nav-item .nav-link:focus, .sidebar-light .nav-item .nav-link:hover {
        color: #6e707e
    }

        .sidebar-light .nav-item .nav-link:active i, .sidebar-light .nav-item .nav-link:focus i, .sidebar-light .nav-item .nav-link:hover i {
            color: #6e707e
        }

    .sidebar-light .nav-item .nav-link[data-toggle=collapse]::after {
        color: #b7b9cc
    }

.sidebar-light .nav-item.active .nav-link {
    color: #6e707e
}

    .sidebar-light .nav-item.active .nav-link i {
        color: #6e707e
    }

.sidebar-light #sidebarToggle {
    background-color: #eaecf4
}

    .sidebar-light #sidebarToggle::after {
        color: #b7b9cc
    }

    .sidebar-light #sidebarToggle:hover {
        background-color: #dddfeb
    }

.sidebar-dark .sidebar-brand {
    color: #fff
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.15)
}

.sidebar-dark .sidebar-heading {
    color: rgba(255,255,255,.4)
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255,255,255,.8)
}

    .sidebar-dark .nav-item .nav-link i {
        color: rgba(255,255,255,.3)
    }

    .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
        /*color: #fff;*/
        color: #f6c23e;
        /*color: #f6c23e;*/
    }

        .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
            color: #f6c23e;
            /* color: #fff;*/
        }

    .sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
        color: rgba(255,255,255,.5)
    }

.sidebar-dark .nav-item.active .nav-link {
    color: #fff
}

    .sidebar-dark .nav-item.active .nav-link i {
        color: #fff
    }

.sidebar-dark #sidebarToggle {
    background-color: rgba(255,255,255,.2)
}

    .sidebar-dark #sidebarToggle::after {
        color: rgba(255,255,255,.5)
    }

    .sidebar-dark #sidebarToggle:hover {
        background-color: rgba(255,255,255,.25)
    }

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255,255,255,.5)
}

/*  P:first-letter .kdomi {
        font-size: 200%;
        color: darkgreen;
        font-weight: bold;
    }
    */

.navbar-brand P:first-letter {
    font-size: 200%;
    color: darkgreen;
    font-weight: bold;
}



/*MRamos END*/
