
<footer class="footer-admin">
    <div class="app-content">
        <p class="text-center mb-1">
            ©@DateTime.Now.Year <a href="https://www.facebook.com/lahaciendasv/">La Hacienda</a> Todos los Derechos Reservados
        </p>
    </div>
</footer>