@{
    ViewBag.Title = "Contactanos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San Salvador<br />
    <abbr title="Telefono">T:</abbr>
    +(503) 2524 9527
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Tech@zmt-dev.com">Tech@zmt-dev.com</a><br />
    <strong>Desarrollo:</strong> <a href="mailto:maramos@zmt-dev.com">maramos@zmt-dev.com</a>
</address>