@{
    ViewBag.Title = "Contactanos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San Salvador<br />
    <abbr title="Telefono">Tel:</abbr>
    +(503) 6202-01094
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Tech@zmt-dev.com">Tech@zmt-dev.com</a><br />
    <strong>Desarrollo:</strong> <a href="mailto:mramos@zmt-dev.com">mramos@zmt-dev.com</a>
    <strong>Ventas:</strong> <a href="mailto:mamorales@zmt-dev.com">mamorales@zmt-dev.com</a>
</address>