@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Inicio";
}

<div class="jumbotron mt-2 jumbotron-la-hacienda mb-2">
    <a href="@Url.Action("Index", "Home")" class="logo mr-auto">
        <img src="~/Content/images/logo.png" class="img-fluid" />
    </a>
    <h1>Komdomioniun</h1>
    <p class="lead">
        La vida es corta para vivirlo en pequeño
    </p>
    <p>
        <a href="@Url.Action("Index", "Login")" class="btn btn-primary btn-lg">
            <i class="fas fa-check-square"></i>
            Cotiza con nosotros
        </a>
    </p>
</div>

<div class="la-hacienda-page">
    <h2 class="mt-0 mb-2">
        Komdomioniun
    </h2>

    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">

                @Html.Partial("_PartialCalendar")

            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                @Html.Partial("_PartialToDoList")
            </div>
        </div>
    </div>

</div>