@using ReportViewerForMvc;
@{
    ViewBag.Title = "ListadoClientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de Clientes</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "width:100%; height:100%" })