@using ReportViewerForMvc;

@{
    ViewBag.Title = "Recibo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>*@
<link href="~/fonts/LibreBarcode39ExtendedText-Regular.woff" >

<h2>Recibo</h2>
<p class="kdomi" style="font-family: 'Libre Barcode 39 Text'; color: black; ">Kondominium</p>



<br />
<br />

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "width:100%; height:100%" })