@using ReportViewerForMvc;

@{
    ViewBag.Title = "Recibo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="max-width:1000px; border-style:solid" >
    @{Html.RenderPartial("ReciboMR", new Kondominium_BL.ReportData().Recibo(Request.Params["VaucherNumber"].ToString()));}
</div>

@using (Html.BeginForm("Export", "Report", FormMethod.Post))
{
    @*<input type="hidden" name="DocName" />*@
    <input type="hidden" name="GridHtml" />

    @*<input type="submit" id="btnSubmit" value="Export" class="btn btn-info" />*@

    <button type="submit" class="btn btn-info" id="btnSubmit"><i class="fa fa-file-pdf" aria-hidden="true"></i> Exportar PDF</button>
    @Html.ActionLink("Imprimir", "ReciboMR", "Report", new { VaucherNumber = Request.Params["VaucherNumber"].ToString() }, new { target = "_blank", @class = "btn btn-info" })

    @Html.Hidden("DocName", Request.Params["VaucherNumber"].ToString(), new { id = "DocName", value = Request.Params["VaucherNumber"].ToString(), name = "DocName" })

}

<script type="text/javascript">

   
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#ReportRecibo").html());
        });
    });
</script>