
@{
    ViewBag.Title = "Recuperar Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-5 col-md-4">
            <!-- Transp -->
            <div class="card o-hidden border-0 shadow-lg my-5" style="background-color: #ffffff8c !important;">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->

                    <section id="loginForm">
                        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            @Html.AntiForgeryToken()


                            <div class="row">


                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Recuperar Password</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <div>
                                                    @Html.TextBox("UserId","", new { @class = "form-control form-control-user", @placeholder = "Usuario..." })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                </div>
                                            </div>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger", @Style = "font-weight: bold; color: red " })

                                            <a>
                                                <input type="submit" value="Enviar password" class="btn btn-primary btn-user btn-block" />
                                            </a>

                                        </form>
                                        <hr>
                                        <div class="text-center" style="font-weight: bold; color: #023368 !important">

                                            <a class="small" href="forgot-password.html">  @Html.ActionLink("Iniciar Sesion", "Login")</a>
                                        </div>
                               
                                    </div>
                                </div>


                            </div>

                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
